.img-about {
    width: 100%;
    height: 110%;
    position: fixed;
    z-index: -1;
    object-fit: cover;
}
.about-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(14, 4, 4, 0.582);
    object-fit: contain;
}

.about-container > h1 {
    color: white;
    font-size: 50px;
    margin-top: -70px;
}
  
.about-container > p {
    margin-top: 30px;
    width: 80%;
    color: white;
    font-size: 18px;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .about-container > h1 {
      font-size: 70px;
      margin-top: -200px;
    }
    .about-container > p {
        margin-top: 20px;
        width: 80%;
        text-align: center;
        color: black;
        font-size: 26px;
    }

  }
  
  @media screen and (max-width: 768px) {
    .img-about {
        margin-top: -610px;
        width: 100%;
        height: 45%;
        position: absolute;
    }
  
    .about-container {
      height: 1320px;
      width: 100%;
      box-shadow: none;
    }

    .about-container > h1 {
      font-size: 40px;
      margin-top: -30px;
      margin-bottom: 80px;
      color: rgb(34, 33, 33);
    }
  
    .about-container > p {
      padding-top: 40px;
      font-size: 16px;
      text-align: center;
    }
  }
