body {
  margin: 0;
  padding: 0;
  background-color: palegoldenrod;
}
.charity-container {
  position: absolute;
  margin-top: 30px;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  top: 20%;
  left: 15%;
  width: 1000px;
}
.charity-item {
  margin-left: 30px;
}
.title h1 {
  padding: 20px;
  text-align: center;
  font-size: 34px;
}
.img-container img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
.img-container {
  height: 300px;
  width: 50%;
  float: left;
  position: relative;
}

@media screen and (max-width: 960px) {
    .charity-container > h1 {
      font-size: 70px;
      margin-top: -200px;
      text-align: center;
    }
    .charity-container > p {
        margin-top: 20px;
        width: 80%;
        text-align: center;
        color: black;
        font-size: 26px;
    }

  }
  
  @media screen and (max-width: 768px) {

    .charity-container {
        height: 1040px;
        width: 100%;
        text-align: left;
    }
    .charity-field {
      margin-bottom: 20px;
      margin-left: 40px;
      width: 100%;
    }

    .name {
      font-size: 18px;
    }

    .charity-container > h1 {
      font-size: 24px;
      margin-top: -20px;
    }
  
    .charity-field > p {
      font-size: 16px;
    }
    .charity-field > h2 {
      font-size: 20px;
    }
    .charity-field > h3 {
      font-size: 16px;
    }
  }
