body {
  margin: 0;
  padding: 0;
  background-color: palegoldenrod;
}
.charity-container {
  position: absolute;
  margin-top: 30px;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  top: 20%;
  left: 15%;
  width: 1000px;
}
.charity-item {
  margin-left: 30px;
}
.title h1 {
  padding: 20px;
  text-align: center;
  font-size: 34px;
}
.img-container img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
.img-container {
  height: 300px;
  width: 50%;
  float: left;
  position: relative;
}

@media screen and (max-width: 960px) {
    .charity-container > h1 {
      font-size: 70px;
      margin-top: -200px;
      text-align: center;
    }
    .charity-container > p {
        margin-top: 20px;
        width: 80%;
        text-align: center;
        color: black;
        font-size: 26px;
    }

  }
  
@media screen and (max-width: 768px) {
  .charity-container {
    width: 95%;
    height: 150vh;
    margin-left: -45px;
  }
  .img-container {
    width: 100%;
    margin-top: 0;
  }
  .img-contact {
    margin-top: -50px;
  }
  .charity-item {
    margin-top: 250px;
    position: absolute;
    /* left: 0; */
    margin-left: -25px;
  }
  h1 {
    font-size: 24px;
  }
}