.contact-container {
  margin: 100px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(58, 104, 255);
}
.img-contact {
  width: 80%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px 0 0 10px;
  position: relative;
}
.contact-right {
  text-align: center;
  margin-top: 110px;
  width: 80%;
}
.contact-right > h1 {
    color: black;
    font-size: 40px;
    margin-bottom: 20px;
}
  
.contact-right > p {
    color: black;
    font-size: 21px;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .contact-container > h1 {
      font-size: 70px;
      margin-top: -200px;
    }
    .contact-container > p {
        margin-top: 20px;
        width: 80%;
        text-align: center;
        color: black;
        font-size: 26px;
    }

  }
  
  @media screen and (max-width: 768px) {

    .contact-container {
        height: 85vh;
        margin-bottom: 0;
    }

    .contact-container > h1 {
      font-size: 40px;
      margin-top: -200px;
    }
  
    .contact-container > p {
      font-size: 19px;
      text-align: center;
    }
  }
